<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.fatec.meuteatro"
    android:versionCode="1"
    android:versionName="0.1 Beta" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.fatec.meuteatro.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.fatec.meuteatro.T03"
            android:screenOrientation="portrait"></activity>
        <activity android:name="br.fatec.meuteatro.T04"
            android:screenOrientation="portrait"></activity>
        <activity android:name="br.fatec.meuteatro.T06"
            android:screenOrientation="portrait"></activity>
        <activity android:name="br.fatec.meuteatro.T07"
            android:screenOrientation="portrait"></activity>
        <activity android:name="br.fatec.meuteatro.T14"
            android:screenOrientation="portrait"></activity>
        <activity android:name="br.fatec.meuteatro.T17"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
